html, body{
	height: 100%;
	font-size: 2em;
}

.sky {
	height: 75%;
	text-align: center;
	position: relative;
}

.earth{
	height: 25%;
	background-color: darkgreen;
}

.penguin {
	position: absolute;
	bottom: 0%;
	left: 30%;
}

#moon {
	position: absolute;
	color: #ddd
}

.bird {
	position: absolute;
	color: #68f;
}

.flock {
	position: absolute;
	height: 40%;
	width: 20%;
	left: 40%;
	display: inline-block;
}